html body{
    background: #C1CBC6;
}

.search-input {
    width: 200px; /* Largura fixa */
    height: 48px;
}
.search-button {
    border-radius: 25px; /* Bordas arredondadas */
    padding: 10px; 
    height: 48px;
    width: 50px;
}