html body{
    background: #eeeeee;
    font-family: Arial, sans-serif;
}

.box-container {
    display: flex;
    flex-direction: column; 
}

.search-input {
    width: 200px;
    height: 48px;
}

.search-button {
    border-radius: 25px;
    padding: 10px; 
    height: 60px;
    width: 50px;
}

.btn.gerenciar {
    background-color: #006233;
    color: #FFFFFF; 
    border: none;
}

.btn.gerenciar:hover {
    background-color: #004d28; 
    color: #FFFFFF;
}

.btn.cadastrar {
    background-color: #006233; 
    color: #FFFFFF;
    border: none;
}

.btn.cadastrar:hover {
    background-color: #004d28;
    color: #FFFFFF;
}

.table-custom {
   background-color: #f8f9fa;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.table-custom thead {
    background-color: #343a40;
    color: #fff;
}

.table-custom th, .table-custom td {
    vertical-align: middle;
}

.table-custom tbody tr:hover {
    background-color: #e9ecef;
}


.table-custom td a:hover {
    color: #0d6efd;
    
}


