html body{
    background: #eeeeee;
    font-family: Arial, sans-serif;
}

.search-input {
    width: 200px;
    height: 48px;
}

.search-button {
    border-radius: 25px;
    padding: 10px; 
    height: 48px;
    width: 50px;
}

.table-custom {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
}

.table-custom th, .table-custom td {
    vertical-align: middle;
    padding: 15px;
}

.table-custom a {
    color: #212529;
    text-decoration: none;
}

.table-custom a:hover {
    color: #007bff;
}

.btn.visualizar {
    background-color: #006233;
    color: #FFFFFF; 
    border: none;
}

.btn.visualizar:hover {
    background-color: #004d28; 
    color: #FFFFFF;
}

.btn.cadastrar {
    background-color: #006233; 
    color: #FFFFFF;
    border: none;
}

.btn.cadastrar:hover {
    background-color: #004d28;
    color: #FFFFFF;
}